.embed-nav {
  background: transparent;
}
#the-body:hover .embed-nav {
  opacity: 1;
}

@media (min-width: 550px) {
  .embed-nav ul {
    text-align: center;
  }
}
.embed-nav a {
  color: #222;
  text-transform: uppercase;
  font-family: Futura-Bold, Futura, Helvetica, sans-serif;
  font-weight: 700;
  padding: 6px 16px;
  text-shadow: 0 0 1px transparent;
}

.embed-nav a.active {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(top, #d9d9d9, #ffffff);
  background: -webkit-linear-gradient(top, #d9d9d9, #ffffff);
  background: linear-gradient(to bottom, #d9d9d9, #ffffff);
  background: #fff;
  color: #000;
}

.embed-nav a.active:after {
  border-top: 8px solid #fff;
}

.embed-nav .cp-embed-logo {
  fill: #ccc !important;
}

.embed-nav .logo-wrap a {
  color: transparent;
  font-size: 0;
  vertical-align: bottom;
  padding: 10px 0 0;
}

@media (max-width: 440px) {
  .embed-nav .logo-wrap {
    display: none;
  }
}
#output pre {
  font-size: 13px;
  line-height: 1.45;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExMTExMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(45deg, #222222, #111111);
  background: -webkit-linear-gradient(45deg, #222222, #111111);
  background: linear-gradient(45deg, #222222, #111111);
  color: #FFF;
}

#output pre, #output iframe {
  -webkit-overflow-scrolling: touch;
}
#output pre::-webkit-scrollbar, #output iframe::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#output pre::-webkit-scrollbar-thumb, #output iframe::-webkit-scrollbar-thumb {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #444444), color-stop(100%, #333333));
  background: -moz-linear-gradient(left, #444444, #333333);
  background: -webkit-linear-gradient(left, #444444, #333333);
  background: linear-gradient(to right, #444444, #333333);
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #aaaaaa;
}

.token.comment {
  font-style: italic;
  background-color: rgba(195, 232, 183, 0.05);
}

.token.punctuation {
  color: #c3c6c4;
}

.token.tag, .language-markup .token.punctuation {
  color: #cc338a;
}

.token.attr-name {
  color: #cc76cc;
}

.token.attr-value {
  color: #bdd9bf;
}

.token.property {
  color: #fff;
}

.token.boolean, .token.number {
  color: #9eaeff;
}

.token.selector {
  color: #c867e0;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  color: #8592E7;
}

.token.atrule, .token.keyword {
  color: #70b3c7;
}

.token.string {
  color: #dbcac0;
  background-color: rgba(235, 119, 56, 0.2);
}

.token.function {
  color: #B8CF9B;
}

.token.important {
  color: #cc4937;
}

.language-css {
  color: #9eaeff;
}

.language-css .token.punctuation, .token.regex {
  color: #FFF;
}

.embed-shell {
  box-sizing: border-box;
  padding: 6%;
}
